/* Some fix for have no href */
.nav, a, [ng-click] {
  cursor: pointer;
}

$sm-screen: 600px;
$background-color: #E0E0E0;
$mainbar-height: 64px;
$hover-background: #f5f5f5;

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $background-color;
  .body-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: $background-color;
    padding: 16px 16px;
    padding-top: 75px;
    @media (max-width: $sm-screen) {
      padding: 8px 0;
      padding-top: 75px;
    }
    .main-button {
      position: fixed;
      right: 24px;
      bottom: 16px;
      @media (max-width: $sm-screen) {
        right: 16px;
        bottom: 16px;
      }
    }
  }
}

@media (max-width: $sm-screen) {
  md-dialog {
    max-width: 100%;
    max-height: 100%;
  }
}

@import 'utils/styles';
@import 'header/styles';
