html, body {
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  padding: 0;
}

.uppercase {
  text-transform: uppercase;
}

a.no-style {
  color: inherit;
  text-decoration: inherit;
}

.label.mandatory:after {
  display: inline-block;
  content: "*";
  color: red;
  padding-left: 3px;
}
