*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
www
bower_components
**/*~
server/data/service-account-key.json
server/data/xoauthGmailKey.json
server/datasources.local.js
