div
  a(href="/img/avatar.png" target="_self") Télécharger l'image avec un target
div
  a(href="/img/avatar.png" download="mon_fichier") Télécharger l'image avec un attribut download

div
  canvas#canvas()
  button.btn.btn-primary(ng-click="save()") Télécharger le canvas

div
  canvas#canvas1
  canvas#canvas2
  button.btn.btn-primary(ng-click="saveMultiple()") Télécharger plusieurs documents
