.tournaments {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.tournament, .empty {
  margin: 5px;
}
.tournament {
  .uppercase {
    text-transform: uppercase;
  }
}
.empty {
  padding: 20px;
}

.divider {
  margin: 20px auto;
  border-bottom: 1px solid grey;
  width: 50px;
}
