md-toolbar.mainbar
  .md-toolbar-tools
    md-button.md-icon-button(ng-click="openMenu()" aria-label="openMenu")
      md-icon.material-icons(md-font-icon="icon-menu")
    a(ui-sref="{{ $state.current.data.previous }}" ng-if="$state.current.data.previous")
      md-button.md-icon-button(aria-label="openMenu")
        md-icon.material-icons(md-font-icon="icon-previous")
    .title(hide-sm) PPTQ Calendar
    .md-flex(flex)
    .connect-info(layout="row" layout-align="start center")
      md-icon.material-icons.status(md-font-icon="icon-brightness_1" ng-class="{'connected': loginFactory.isAuthenticated()}")
      span.login(ng-if="loginFactory.getUser()") {{ loginFactory.getUser() }}

