{
  "db": {
      "host": "localhost",
      "port": 27017,
      "database": "pptq-calendar",
      "name": "pptq-calendar",
      "connector": "mongodb",
      "username": "",
      "password": ""
    }
    ,
    "Gmail": {
        "connector": "mail",
        "transports": [
          {
            "type": "SMTP",
            "host": "smtp.gmail.com",
            "secure": true,
            "port": 465,
            "auth": {
              "user": "user@gmail.com",
              "pass": "pass"
            }
          }
        ]
      }
}

