md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left")
  md-content
    ul(layout="column" layout-align="start center")
      li
        a(ui-sref="tournamentList") Tournois
      li
        a(ui-sref="admin.users" ng-if="loginFactory.isAdmin()") Administration
      li(flex)
      li(ng-if="!loginFactory.isAuthenticated()")
        a(ui-sref="login") Se connecter
      li(ng-if="loginFactory.isAuthenticated()")
        span(ng-click="loginFactory.disconnect()") Se déconnecter
      li
        span(ng-click="closeMenu()") Fermer

