@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../MaterialIcons-Regular.woff) format('woff'),
  url(../MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-menu:before {
  content: "\E5D2"
}

.icon-person-add:before {
  content: "\E7FE"
}

.icon-person:before {
  content: "\E7FD"
}

.icon-person-outline:before {
  content: "\E7FF"
}

.icon-search:before {
  content: "\E8B6"
}

.icon-event-note:before {
  content: "\E616"
}

.icon-add:before {
  content: "\E145"
}

.icon-create:before {
  content: "\E150"
}

.icon-next:before {
  content: "\E5C8"
}

.icon-previous:before {
  content: "\E5C4"
}

.icon-more-vert:before {
  content: "\E5D4"
}

.icon-brightness_1:before {
  content: "\E3A6"
}

.icon-today:before {
  content: "\E8DF";
}

.icon-group:before {
  content: "\E7EF";
}

.icon-warning:before {
  content: "\E002";
}

.icon-info:before {
  content: "\E88E";
}

.icon-star_border:before {
  content: "\E83A";
}

.icon-place:before {
  content: "\E55F";
}

.icon-email:before {
  content: "\E0BE";
}

.icon-phone:before {
  content: "\E0CD";
}

.icon-event_available:before {
  content: "\E614";
}

.icon-event_busy:before {
  content: "\E615";
}

.icon-check:before {
  content: "\E5CA";
}

.md-icon-avatar {
  font-size: 40px;
}

.md-icon-fab-mini {
  font-size: 20px;
}

md-icon.warning {
  color: orange;
}

md-icon.danger {
  color: red;
}

md-icon.success {
  color: green;
}
