#admin-tournaments(layout="row" flex layout-align="center")
  form(name="createForm" flex)
    md-input-container
      label Ville
      input(type="text" required ng-model="tournament.town")
    md-input-container
      label Organisateur
      input(type="text" required ng-model="tournament.organizer")
    mdc-date-picker(flex model="tournament.date" label="Date")
    md-checkbox(ng-model="tournament.isDateConfirmed" aria-label="Date confirmée?") Date confirmée?
    md-input-container
      label Informations
      textarea(ng-model="tournament.information")

    .md-action(layout="row" layout-align="center")
      md-button.md-primary(ng-click="create(tournament)" flex ng-disabled="!createForm.$valid") Créer


