#admin-tournaments(layout="row" flex layout-align="center")
  form(name="createForm" flex)
    md-input-container
      label Ville
      input(type="text" required ng-model="tournament.town")
    md-input-container
      md-select(ng-model="tournament.format" placeholder="Format")
        md-option Standard
        md-option Scellé
        md-option Modern
    md-input-container
      label Organisateur
      input(type="text" required ng-model="tournament.organizer")
    mdc-date-picker(flex model="tournament.date" label="Date")
    md-checkbox(ng-model="tournament.isDateConfirmed" aria-label="Date confirmée?") Date confirmée?
    md-checkbox(ng-model="tournament.isDateOnCalendar" aria-label="Sur le calendrier?") Sur le calendrier?
    md-input-container
      label Informations
      textarea(ng-model="tournament.information")
    md-input-container
      label Contact inscription (Tél)
      input(type="text" ng-model="tournament.phoneContact")
    md-input-container
      label Contact inscription (Mail)
      input(type="text" required ng-model="tournament.emailContact")
    md-input-container
      label Adresse
      input(type="text" required ng-model="tournament.adress")

    .md-action(layout="row" layout-align="center")
      md-button.md-primary(ng-click="create(tournament)" flex ng-disabled="!createForm.$valid") Créer


