<div (click)="close.emit({})">
  <div *ngIf="open" class="background"></div>
  <aside *ngIf="open" [@flyInOut]="state" class="menu" id="sidenav">
    <div class="user" *ngIf="user">
      <span class="icon"><i class="fa fa-circle"></i></span> {{ user.username }}
    </div>
    <p class="menu-label">
      Général
    </p>
    <ul class="menu-list">
      <li>
        <a
          routerLink="/"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{exact: true}">Tournois
        </a>
      </li>
    </ul>
    <p class="menu-label" *ngIf="isAdmin()">
      Administration
    </p>
    <ul class="menu-list" *ngIf="isAdmin()">
      <li><a href="#">Utilisateurs</a></li>
      <li>
        <a
          routerLink="/admin"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{exact: true}">Tournois
        </a>
      </li>
    </ul>
    <p class="menu-label">
      Compte
    </p>
    <ul class="menu-list">
      <li *ngIf="user">
        <a
          routerLink="/my-profile"
          routerLinkActive="is-active">Mon profil
        </a>
      </li>
      <li *ngIf="!user"><a routerLink="/login" routerLinkActive="is-active">Connexion</a></li>
      <li *ngIf="user"><a (click)="logout()">Déconnexion</a></li>
    </ul>
  </aside>
</div>
