aside {
  min-width: 200px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 25px;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(17, 17, 17, 0.86);
  z-index: 100;
}
