md-content.md-whiteframe-z1(ng-if="!$ctrl.showConfirmationMessage" layout-padding)
  h3 Création d'un compte
  form(name="createLoginForm")
    .form__info.form__info--error(ng-if="$ctrl.errorMessage") {{ $ctrl.errorMessage }}
    div(layout="column")
      md-input-container
        label Login *
        input(type="text" required ng-model="user.username")
      md-input-container
        label Mot de passe *
        input(type="password" required ng-model="user.password")
      md-input-container
        label Email *
        input(type="email" required ng-model="user.email")
      .form__info
        | Si vous êtes arbitre ou orga, merci de remplir correctement vos noms et prénoms pour un meilleur suivi
      md-input-container
        label Prénom
        input(type="text" ng-model="user.firstname")
      md-input-container
        label Nom
        input(type="text" ng-model="user.lastname")
    .md-action(layout="row" layout-align="center")
      md-button.md-primary.md-raised(ng-click="$ctrl.createUser(user)" ng-disabled="!createLoginForm.$valid") Créer

md-content.md-whiteframe-z1(ng-if="$ctrl.showConfirmationMessage" layout-padding)
  |Votre compte a été créé.
  br
  |Un email de confirmation a été envoyé à
  span.bold {{ $ctrl.email }}
  |pour valider votre compte.
