.tabs(layout="row")
  .tab
    a.no-style(ng-link="['AdminUsers']") Utilisateurs
  .tab
    a.no-style(ng-link="['AdminRegions']") Régions
md-content.md-whiteframe-z1
  ng-outlet(layout="row" layout-align="center start").md-whiteframe-z1
