#admin
  .tabs(layout="row")
    .tab(ui-sref-active="active")
      a.no-style(ui-sref="admin.users") Utilisateurs
    .tab(ui-sref-active="active")
      a.no-style(ui-sref="admin.tournaments") Création Tournoi
  md-content.md-whiteframe-z1(layout="row" layout-align="center start" ui-view)


